<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/sidebar.html'" ng-controller="SidebarCtrl"></ng-include>
<div class="container-fluid">    
	<div class="row content">
		<div class="col-sm-9 col-md-9 col-lg-10 col-xl-10">
			<h1 ng-if="pokemon == null">Loading...</h1>
			<div ng-if="pokemon != null" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 infoBorder padding20 paddingtop0 margintop15">				
				<div class="row padding20">
					<!-- Image -->
					<h3 >#{{pokemon.national_id}} {{pokemon.name}}</h3>
					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div>
							<img src="../images/{{pokemon.national_id}}.png" alt="Loading..." class="img100">
						</div>					
					</div>

					<!-- Information -->			
					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="row">
							<div ng-repeat="type in pokemon.types">
								<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
									<img src="../images/types/{{type.name}}.png" alt="Loading..." class="img100">
								</div>		
							</div>	
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
								<h4>Height</h4>
								{{pokemon.height/10}} m
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
								<h4>Category</h4>
								{{pokemon.species}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
								<h4>Weight</h4>
								{{pokemon.weight/10}} kg
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
								<h4>Abilities</h4>
								<div ng-repeat="ability in pokemon.abilities">
									{{ability.name}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
								<h4>Description:</h4>
								{{description}}
							</div>
						</div>
					</div>

					<!--Moves-->
					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 greyColor movesBorder">
						<h1>Moves</h1>
						<div class="scrollable-menu">
							<div ng-repeat="move in pokemon.moves">
								<div class="columns" ng-if="$even">
									<li>{{pokemon.moves[$index].name}}</li>
									<li>{{pokemon.moves[$index+1].name}}</li>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xl-offset-8">
						<a class="btn btn-danger btn-lg"  href="#!/search" ng-click="addUserPokemon(); playConfirm()">Add to My Pokémon</a>
						<a class="btn btn-default btn-lg" href="#!/search" role="button">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>