<div class="container-fluid">
	<div class="row text-center">
		<div class="panel panel-danger ">
			<div class="panel-heading">
				<h3 ng-if="victor.player == null">{{printTurn()}} turn to make a move...</h3>
				<div ng-if="victor.player == 1 || victor.player == 2">
					<h3 class="padding20 paddingtop0">Player {{victor.player}} won!</h3>
					<a  ng-click="reset(false); playConfirm(); playTheme()" class="btn-danger btn-lg margin20" href="#!/search"> Return to Pokédex and check History!</a>
				</div>
			</div>
			<div class="panel-body">
				<h4 ng-if="victor.player == null">{{status.desc}}</h4>
				<h4 ng-if="(victor.player == 1 || victor.player == 2) && checkFaintedPokemon(victor.player) != null">Player {{checkLoser(victor.player)}}'s  {{checkFaintedPokemon(victor.player)}} fainted! Better luck next time</h4>				
			</div>
		</div>
	</div>

	<div class="row content text-center" ng-if="victor.player == null">
		<!-- Player's Pokémon -->
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<h1 class="blackColor">{{myPokemon.pokemon.name}}</h1>
			<div class="row">
				<progress id="health" class="text-center" value={{myPokemon.pokemon.hp}} max="100"></progress>
			</div>
			<img class="img30" ng-src="../images/{{myPokemon.pokemon.national_id}}.png" alt={{myPokemon.pokemon.name}}>
			<h3 class="margintop0">Choose move:</h3>
			<div class="row">
				<div ng-repeat="move in myPokemon.pokemon.moves.slice(0,2)">
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
						<button href="" class="btn-group-justified btn btn-primary btn-lg" ng-click="playerAttacks(move.name); playAttack(); battleAnimation()" ng-disabled="checkTurn()">{{move.name}}: {{getAttackDmg(move.name)}}</button>
					</div>
				</div>
			</div>
			<div class="row center margintop20">
				<div ng-repeat="move in myPokemon.pokemon.moves.slice(2,4)">
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
						<button href="" class="btn-group-justified btn btn-primary btn-lg" ng-click="playerAttacks(move.name); playAttack()" ng-disabled="checkTurn()">{{move.name}}: {{getAttackDmg(move.name)}}</button>
					</div>
				</div>
			</div>
			
			<div class="row">
				<a href="#!/search" class="btn btn-danger btn-lg margintop20" ng-click="reset(true)">Abort Battle</a>
			</div>
		</div>
		
		<!-- Opponent's Pokémon -->
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<h1 class="blackColor">{{opponentPokemon.pokemon.name}}</h1>
			<div class="row">
				<progress id="health" class="text-center" value={{checkStatus()}} max="100"></progress>
			</div>
			<img class="img30" ng-src="../images/{{opponentPokemon.pokemon.national_id}}.png" alt={{opponentPokemon.pokemon.name}}>
		</div>
	</div>
</div>