<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/sidebar.html'" ng-controller="SidebarCtrl"></ng-include>
<div class="container-fluid">    
	<div class="row content">
		<div class="col-sm-9 col-md-9 col-lg-10 col-xl-10">
			<div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 ">
				<a class="btn btn-danger btn-lg margintop20" style="margin-bottom:7px;" href="#!/search" >Back to search</a>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 greyColor movesBorder padding20">

				<h1 class="text-center">Your latest battle</h1>

				<div ng-if="myUser.hasHistory==false" class="text-center">
					<h3>No battles played yet :(</h3>
					<p>
						If you want to see some history you need to battle first.
						Try it out!
					</p>
					<a class="btn btn-danger btn-lg" href="#!/printPokemonlist" ng-click="resetVictor()" role="button" id="confirmDinner">Battle</a>
				</div>
					<div ng-if="myUser.hasHistory==true">		
						<h4>{{myUser.email}}</h4>
						<h4 ng-if="myUser.victory==true">Won!</h4>
						<h4 ng-if="myUser.victory==false">Lost</h4>
						<br/>
						<p>Played as number: <b>{{myUser.asPlayer}}</b></p>
						<br/>
				



						<div class="col-md-5">
							<p>With Pokémon: <b>{{myUser.pokemonUsed.name}}</b></p>
								<img src="../images/types/{{myUser.pokemonUsed.type.name}}.png" class="img100" ng-repeat="type in myUser.pokemonUsed.type">
							<img ng-src="../images/{{myUser.pokemonUsed.national_id}}.png" alt={{myUser.pokemonUsed.name}} style="max-width: 150%;">
						</div>

						<div class="col-md-2">
							<h1><i>VS.</i></h1>
						</div>
						
						<div class="col-md-5">
							<p>Against Pokémon: <b>{{myUser.opponentPokemon.name}}</b></p>
							<img src="../images/types/{{myUser.opponentPokemon.type.name}}.png" class="img100" ng-repeat="type in myUser.opponentPokemon.type">
							<img ng-src="../images/{{myUser.opponentPokemon.national_id}}.png" alt={{myUser.opponentPokemon.name}} style="max-width: 150%;">
						</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
