<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/sidebar.html'" ng-controller="SidebarCtrl"></ng-include>
<div class="container-fluid">    
	<div class="row content">
		<div class="col-sm-9 col-md-9 col-lg-10 col-xl-10">
			<div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 ">
				<a class="btn btn-danger btn-lg margintop20" style="margin-bottom:7px;" href="#!/search" >Back to search</a>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 greyColor movesBorder padding20">

				<h1 style="text-align: center">Latest battle</h1>

				<h4 ng-if="myUser.hasHistory==false">No battles played yet :(</h4>

					<div class="row col-sm-4 col-md-4 col-lg-4 col-xl-4" ng-if="myUser.hasHistory==true">		

							<h3>{{myUser.email}}</h3>

							<h3 ng-if="myUser.victory==true">Won!</h3>
							<h3 ng-if="myUser.victory==false">Lost</h3>
							<br/>

							<p>Played as number: <b>{{myUser.asPlayer}}</b></p>
							<br/>

							<p>With Pokémon: <b>{{myUser.pokemonUsed.name}}</b></p>
							<br/>

							<p>Against Pokémon: <b>{{myUser.opponentPokemon.name}}</b></p>


				</div>
				
			</div>
		</div>
	</div>
</div>
