<div class="row text-center">
        <br><br><br>
        <h1>Welcome to Pokémon Online!</h1>
        <h4>Log in to start playing</h4>
    </div>

<form>

<div class="col-md-3">
</div>
  <div class="container col-md-6 text-center">
    <label><b>Email</b></label>
    <input id="email" type="text" placeholder="Enter Email" name="uname" required ng-model="email">

    <label><b>Password</b></label>
    <input id="password" type="password" placeholder="Enter Password" name="psw" required ng-model="password">

    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-danger btn-block btn-lg" type="submit" ng-click="login()" style="margin-top: 5px">Login</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block btn-lg" ng-click="signUp()" style="margin-top: 5px">Sign up</button>
        </div>
    </div>

  </div>
</form>