<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/sidebar.html'" ng-controller="SidebarCtrl"></ng-include>
<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-9 col-md-9 col-lg-10 col-xl-10 text-left">
			<div class="jumbotron redColor text-center">
				<h2>Pokédex</h2>
			</div>

			<!-- Search Results -->
			<div class="row text-center">
				<h1>{{loading}}</h1>
				<div ng-repeat="poke in sortPokedex()">
					<div class="col-sm-4 col-md-2 col-lg-2 col-xl-1 alignrows">
						<a href="#!/info/{{poke.pokemon.national_id}}">
							<img ng-src="../images/{{poke.pokemon.national_id}}.png" class="img100">
							{{poke.pokemon.name}}
						</a>
					</div>
					{{loadingDone()}}
				</div>
			</div>
		</div>
	</div>
</div>